body {
    background-color: rgb(32, 32, 32);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  a   {color: rgb(107, 204, 28); text-decoration: none;}
  h1  {color:rgb(184, 205, 143); font-size: 260%; font-weight: 100; background-color: rgb(46, 46, 46); border-radius: 10px; padding: 10px;}
  p   {color: #fff; line-height: 1.6; font-size: 100%;  background-color: rgb(46, 46, 46); border-radius: 10px; padding: 10px;}